.git
.gitignore

node_modules
**/node_modules

.pnpm-store
.turbo
.cache
**/.cache
.expo
**/.expo

coverage
**/coverage

logs
**/logs
*.log
**/*.log

.env
.env.*
**/.env
**/.env.*

build
dist
**/build
**/dist

apps/mobile/android/.gradle
apps/mobile/android/app/build
apps/mobile/android/build
apps/mobile/ios/build

.tmp
tmp
temp
**/.tmp
**/tmp
**/temp

backup
backups
archive
archives
**/backup
**/backups
**/archive
**/archives
